#root {
  background-color: black;
  overflow: hidden;
  font-family: "helvetica", "helvetica neue", sans-serif;
}

/* Container */

.panel-row {
  width: 200vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: center;
}

/*Side by Side state*/

.Original {
  position: relative; /* Move this line here */
  width: 20vw;
  height: 100vh;
  transition:
          transform 0.2s ease-in-out,
          width 0.5s ease-in-out;
  transform-origin: top;
}

.panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.Original.panel-content:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  transform-origin: top;
}

.panel-background {
  position: absolute;
  top: 0;
  width: 25vw;
  height: 100vh;
  background-color: yellowgreen;
  box-shadow: black 0 0 10px;
  transform: skewX(5deg)translateX(-2.5vw);
  transition:
          width 0.5s ease-in-out,
          transform 0.5s ease-in-out;
}

/**/

.Fullscreen, .Fullscreen img {
  z-index: 999;
  position: absolute;
  transition:
          width 0.5s ease-in-out;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: skewX(0deg);
  transform-origin: top;
}

.MoveLeft, .MoveLeft img {
  transition:
          width 0.5s ease-in-out,
          transform 0.5s ease-in-out;
  width: 0;
  transform: skewX(0deg)translateX(-100vw);
}

.MoveRight, .MoveRight img{
  transition:
          width 0.5s ease-in-out,
          transform 0.5s ease-in-out;
  width: 0;
  transform: skewX(0deg)translateX(100vw);
}

.MoveLeft .panel-content, .MoveRight .panel-content {
  display: none;
}